<!DOCTYPE html>
<html>
<head>
  <title>Rmdb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <%= link_to 'Movies', movies_path %>
  <%= link_to 'Directors', directors_path %>
  <%= link_to 'Actors', actors_path %>
  <%= link_to 'Roles', roles_path %>
  <%= link_to 'Users', users_path %>
  |
  <% if not current_user.nil? %>
    <%= link_to 'Sign out', session_path(current_user), method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_session_path %>
    <%= link_to 'Sign up', new_user_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
