<!DOCTYPE html>
<html>
<head>
  <title>Rmdb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <%= link_to 'Movies', movies_path %>
  <%= link_to 'Directors', directors_path %>
  <%= link_to 'Roles', roles_path %>
</div>

<%= yield %>

</body>
</html>
